<div
  class="card-body p-5 text-center"
  style="text-align: center; height: 600px;"
>
  <h1>the old password is incorrect or the new password is not the same as the
    verification!</h1>
  <h2>Error during change password!.</h2>
  <a
    href="/changepassword"
    class="text-white-50 fw-bold"
    style="color: black !important;"
  > Let´s Go change!</a>
</div>